@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-sans-kr: 'Noto Sans KR', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-noto-sans-kr);
  background: #ffffff;
  color: #1a1a1a;
}

@media print {
  @page {
    margin: 2cm;
  }
  
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  
  .no-print {
    display: none !important;
  }
}
